@use '@styles/themes';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: themes.$grey50;
  padding: 7px 20px;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  color: themes.$grey400;
  @include themes.typography('caption12');
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 8px;
  row-gap: 6px;
  margin-top: 12px;
}
