@use '@styles/themes';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: themes.$purple;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32vh;
}

.main-title {
  @include themes.typography('title40');

  display: flex;
  flex-direction: column;
  color: themes.$white;
}

.sub-title {
  @include themes.typography('body14');

  color: themes.$lightPurple100;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 0 15px 46px;
}

.login-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  @include themes.typography('body16');

  + .login-button {
    margin-top: 8px;
  }

  > svg {
    position: absolute;
    left: 20px;
  }

  &--kakao {
    background-color: #fee500;
  }

  &--naver {
    background-color: #03c75a;
    color: themes.$white;
  }
}

.terms-of-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  color: themes.$grey200;
  font-size: 10px;
}

.terms-of-service-modal-btn {
  text-decoration-line: underline;
}

.terms-of-personal-info-modal-btn {
  text-decoration-line: underline;
}
