@use '@styles/themes';

$height: 56.4px;

.wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $height;
}

$backButtonWidth: 40px;
$iconWidth: 12px;

.back-btn {
  display: flex;
  position: absolute;
  left: calc(28px - ($backButtonWidth - $iconWidth) / 2);
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
}

.title {
  color: themes.$black;
  @include themes.typography('body15');

  &.highlighted {
    color: themes.$purple;
    @include themes.typography('body16');
  }
}

.extra {
  display: flex;
  position: absolute;
  right: 28px;
  align-items: center;
  height: 100%;
}
