@use '@styles/themes';

.container {
  display: flex;
  position: fixed;
  z-index: themes.$floating;
  top: 0;
  flex-direction: column;
  width: 100%;
  max-width: themes.$layoutMaxWidth;
  padding-top: env(safe-area-inset-top);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: themes.$topNavigatorHeight;

  &.white {
    background-color: themes.$white;
  }

  &.transparent {
    background-color: transparent;
  }
}

$backButtonWidth: 40px;
$iconWidth: 12px;

.back-btn {
  display: flex;
  position: absolute;
  left: calc(28px - ($backButtonWidth - $iconWidth) / 2);
  align-items: center;
  justify-content: center;
  width: 40px;
  height: themes.$topNavigatorHeight;
}

.title {
  color: themes.$black;
  @include themes.typography('body15');

  &.highlighted {
    color: themes.$purple;
    @include themes.typography('body16');
  }
}

.extra {
  display: flex;
  position: absolute;
  right: 28px;
  align-items: center;
  height: themes.$topNavigatorHeight;
}
