@use '@styles/themes';

.flavor-slider-group {
  display: grid;
  grid-template-columns: 22px 1fr;
  gap: 13px 17px;
  border-radius: 10px;
  background-color: themes.$grey50;
  padding: 19px 27px 9px 27px;
  width: 100%;

  > label {
    color: themes.$grey400;

    @include themes.typography('caption11');
  }
}
