@use '@styles/themes';

.map-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: env(safe-area-inset-bottom);

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }

  .mapboxgl-canvas {
    height: 100%;
  }
}
