@use '@styles/themes';

.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 9px;
  color: themes.$grey300;

  @include themes.typography('body13');
}

.accordion-group {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: 9px;
  }
}

.flavor-options {
  display: flex;
  flex-wrap: wrap;
}

.flavor-option {
  margin: 6px 8px 0 0;
}
