@use '../../../assets/styles/themes';

.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;

  @include themes.typography('caption12', 500);

  &.round {
    border-radius: 20px;
  }

  &.squircle {
    border-radius: 10px;
  }

  &.filled {
    background-color: themes.$purple;
    color: themes.$white;
    &.writing {
      background-color: themes.$grey100;
      color: themes.$grey500;
    }
  }

  &.outlined {
    background-color: themes.$white;
    border: 1px solid themes.$lightPurple100;
    &.purple {
      color: themes.$lightPurple300;
    }
  }
}
