.category-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 27px;
}

.preview-wrapper {
  display: grid;
  row-gap: 12px;
  width: 100%;
  overflow: scroll;
  padding: 0 36px;
}

.bottom-navigator {
  position: fixed;
  bottom: 0;
  width: 100%;
}
