.category-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 27px;
  margin-top: 29px;
}

.preview-wrapper {
  display: grid;
  row-gap: 12px;
  width: 100%;
  height: calc(100vh - 186.4px);
  padding: 0 36px 88px 36px;
  margin-top: 42px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.preview-wrapper::-webkit-scrollbar {
  display: none;
}
