@use '@styles/themes';

.logo {
  margin-bottom: 20px;
}

.header-text {
  padding-bottom: 20px;
  color: themes.$purple;
  @include themes.typography('body16');
}

.header {
  display: flex;
  position: absolute;
  z-index: themes.$floating;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 22px;
}
