@use '@styles/mixins.module';
@use '@styles/themes';

.logo {
  margin-bottom: 20px;
}

.search-bar-wrapper {
  padding: 8px 22px 0;
}

.filter-button {
  height: 40px;
  margin: 0 -12px 0 0;
  padding: 0 12px 0 6px;
}

.category-filter-wrap {
  width: 100%;
  overflow: auto;

  @include mixins.hideScrollBar;
}
