@use '@styles/themes';
@use '@styles/mixins.module';

.drawer {
  position: absolute;
  z-index: themes.$drawer;
  top: 0;
  bottom: 0;
  box-sizing: content-box;
  @include mixins.setHeight100vh;

  overflow: auto;
  transition: transform 0.3s ease;
  background: themes.$white;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  &.left {
    left: 0;

    --transform-open-from: translateX(-100%);
  }

  &.right {
    right: 0;

    --transform-open-from: translateX(100%);
  }

  &.open {
    animation: open 0.25s ease-out forwards;
  }

  &:not(.open) {
    animation: close 0.25s ease-out forwards;
  }
}

@keyframes open {
  from {
    transform: var(--transform-open-from);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes close {
  from {
    transform: translateX(0);
  }

  to {
    transform: var(--transform-open-from);
  }
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
}
