@use '@styles/themes';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  white-space: pre-wrap;
}

.message {
  @include themes.typography('body16', 500);
}

.description {
  margin-top: 8px;
  color: themes.$grey500;
  @include themes.typography('body14');
}
