@use '@styles/themes';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: themes.$grey300;
  margin-bottom: 12px;
  @include themes.typography('body13');
}

.input {
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid themes.$grey200;

  @include themes.typography('body15');
}
