@use '@styles/themes';

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(
    100vh - themes.$topNavigatorHeight - themes.$bottomNavigatorHeight
  );
  padding: 0 64px;
  color: themes.$grey300;
  text-align: center;

  @include themes.typography('body14');
}

.title {
  margin-top: 12px;
  font-weight: 500;
}

.info {
  margin-top: 4px;
  white-space: nowrap;
}

.button {
  max-width: 232px;
  margin-top: 20px;
}
