@use '@/assets/styles/themes';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 30px 80px 30px;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none;
}

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 40px 11px 0 11px;
  @include themes.typography('body15');
}

.name {
  color: themes.$purple;
  @include themes.typography('title18');
  font-weight: 700;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 330px;
  color: themes.$grey300;
  @include themes.typography('caption9');
  font-weight: 350;

  > p:first-child {
    color: themes.$purple;
    @include themes.typography('body16');
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 0 4px;
}
