@use '@/assets/styles/themes';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 30px 80px;
}

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 11px 0;
  text-align: start;
  @include themes.typography('body15');
}

.name {
  color: themes.$purple;
  @include themes.typography('title18');

  font-weight: 700;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: themes.$grey300;
  @include themes.typography('caption9');

  font-weight: 350;

  > p:first-child {
    margin-bottom: 12px;
    color: themes.$purple;
    @include themes.typography('body16');
  }

  > p:last-child {
    margin-top: 12px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 0 4px;
}
