@use '@styles/themes';

.slider {
  position: absolute;
  z-index: themes.$modal;
  bottom: 120px;
  width: 100%;
  padding-left: 20px;
}

.slide {
  width: calc(100% - 40px);
  margin-right: 20px;
  padding: 16px 22px;
  border-radius: 15px;
  background-color: themes.$white;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
