@use '@styles/themes';

.main {
  position: relative;
  max-width: themes.$layoutMaxWidth;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;

  &--is-modal {
    position: fixed !important;
    z-index: themes.$modal;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.has-top-navigator-padding {
    padding-top: themes.$topNavigatorHeight;
  }

  &.has-bottom-navigator-padding {
    padding-bottom: calc(
      themes.$bottomNavigatorHeight + env(safe-area-inset-bottom, 0)
    );
  }
}
