@mixin resetTrackStyles {
  outline: none;
  border: none;
  background-color: transparent;
  height: 100%;
}

@mixin resetSliderStyles {
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    @include resetTrackStyles;
  }

  &::-webkit-slider-thumb {
    visibility: hidden;
  }

  &::-moz-range-track {
    @include resetTrackStyles;
  }

  &::-moz-range-thumb {
    visibility: hidden;
  }

  &:focus {
    @include resetTrackStyles;
  }
}
