html {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  min-height: -webkit-fill-available;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
