body {
  height: 100%;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
