* {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

*,
:after,
:before {
  flex-shrink: 0;
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

dl,
li,
menu,
ol,
ul {
  list-style: none;
}

textarea,
input {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  resize: none;
}

/* Chrome autofill 스타일 제거, 커스텀 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
