@use '@styles/themes';
@use '@styles/mixins.module';

.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 9px;
  color: themes.$grey300;

  @include themes.typography('body13');
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px 14px;
  border-radius: 10px;
  background-color: themes.$grey50;
}

.description {
  margin-bottom: 8px;
  color: themes.$grey400;

  @include themes.typography('caption12');
}

.slider-wrapper {
  position: relative;
  width: fit-content;
  margin-left: -12px;
}

.stars {
  display: flex;
  padding: 0 6px;
}

.star {
  display: flex;
  padding: 0 6px;

  .half-star--flipped {
    transform: scaleX(-1);
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include mixins.resetSliderStyles;
}
