@use '@styles/themes';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  padding: 16px;
  overflow: hidden;
  border-radius: 36px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include themes.typography('body13', 400);

  &.primary {
    background-color: themes.$purple;
    color: themes.$white;

    &:active {
      filter: brightness(90%);
    }
  }

  &.outline {
    border: 1px solid themes.$purple;
    background-color: themes.$white;
    color: themes.$grey600;

    &:active {
      filter: brightness(95%);
    }
  }
}
